html {
    min-height: 100vh;
    background: lightgray;
}

body {

    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 10px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    width: 60%;
    margin-left: 316px;

}

header {
    width: 100%;
    overflow: auto;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: sans-serif;
}

h1 {
    color: rgb(33, 35, 33);
    font-size: 3rem;
}

.todo-form {
    padding: 5px 10px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    width: 60%;
    margin-left: 316px;
}


.todo-input {
    padding: 10px 10px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    width: 90%;
    /* margin-left: 90px; */
    font-size: large;
    font-style: italic;
}



.todo-items {
    flex-grow: 1;
}

.note {
    background-color: #fff;
    padding: 20px;
    font-size: 1.1rem;
    /* margin: auto; */
}

.listContainer {
    display: block;
    background-color: #fff;
    padding: 10px;
    font-size: 1.1rem;
}

.priorities {
    display: flex;
    margin: auto;
}

#Duedate {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.target {
    display: none;
}

.checkbox {
    margin-right: 10px;

}


button {
    outline: 0;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    color: #595959;
}

.delete-button {
    margin-left: 95%;
    padding: 5px;
    font-size: large;

}

button:hover,
button:focus {
    color: crimson;
}

.checked {
    text-decoration: line-through;

}