html {
    min-height: 100vh;
    background: lightgray;
}

body {
<<<<<<< HEAD
    margin: 50px;
    padding: 50px;
    display: flex;
    /* background-color: beige; */
    justify-content: center;
}

ul {
    list-style-type: none;
=======

    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 10px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    width: 80%;
    margin-left: 90px;

>>>>>>> 3c37e9a (building notes feature)
}

header {
    width: 100%;
    overflow: auto;
<<<<<<< HEAD
    padding-bottom: 50px;
    padding-top: 10px;
=======
>>>>>>> 3c37e9a (building notes feature)

}

.container {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    justify-content: center;
=======
    justify-content: space-evenly;
>>>>>>> 3c37e9a (building notes feature)
    font-family: sans-serif;
}

h1 {
    color: rgb(33, 35, 33);
    font-size: 3rem;
}

.todo-form {
<<<<<<< HEAD
    background-color: #fff;
    padding: 15px;
    display: flex;
    border-radius: 5px;
=======
    padding: 5px 10px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    width: 80%;
    margin-left: 90px;
>>>>>>> 3c37e9a (building notes feature)
}


.todo-input {
<<<<<<< HEAD
    background-color: #fff;
    padding: 15px;
    display: flex;
    border-radius: 5px;
}

.add-button {
    outline: 0;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    color: #595959;
}
=======
    padding: 10px 10px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    width: 90%;
    /* margin-left: 90px; */
    font-size: large;
    font-style: italic;
}


>>>>>>> 3c37e9a (building notes feature)

.todo-items {
    flex-grow: 1;
}

<<<<<<< HEAD
.item {}


.checkbox {}

.delete-button {
    outline: 0;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    color: #595959;
}

=======
/* .item {
    width: 90%;
    margin-right: auto;
    background-color: #fff;
    padding: 10px;
    padding-left: 80px;
    font-size: 1.1rem;
    margin: 10px;
} */


.checkbox {
    margin-right: 10px;

}


>>>>>>> 3c37e9a (building notes feature)
button {
    outline: 0;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    color: #595959;
}

<<<<<<< HEAD
button:hover,
button:focus {
    color: lightcoral;
=======
.delete-button {
    margin: auto;
    font-size: large;

}

button:hover,
button:focus {
    color: crimson;
>>>>>>> 3c37e9a (building notes feature)
}

.checked {
    text-decoration: line-through;

}