html {
    min-height: 100vh;
    background: rgb(210, 210, 212);
}

body {

    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px 10px;
    margin: 4px;
    background-color: #e2e3e4;
    border: 1px solid #DDDDDD;
    width: 50%;
    margin-left: 316px;
    justify-content: center;

}

header {
    width: 100%;
    overflow: auto;

}

.container {
    display: flex;
    /* position: fixed; */
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgb(33, 35, 33);
    font-size: 3rem;
}

.todo-form {
    padding: 5px 10px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    width: 50%;
    margin-left: 316px;
}


.todo-input {
    padding: 10px 10px;
    background-color: #e8e7ea;
    border: 1px solid #DDDDDD;
    width: 98%;
    font-size: 1.5rem;
    font-style: italic;
}



.todo-items {
    flex-grow: 1;
}

.note {
    position: relative;
    display: flex;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    width: 50%;
    height: 200px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: none;
    font-size: 1.05rem;
    font-family: 'Courier New', Courier, monospace;
}

.listContainer {
    background-color: rgb(251, 252, 252);
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    margin: 20px;
}

.priorities {

    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: #486e49;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
}

#Duedate {

    position: relative;
    float: right;
    width: 19%;
    background: #d7e3e6;
    margin-left: 2px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 4px 4px #ccc;

}



.checkbox {
    margin-right: 20px;
    margin-top: 20px;

}




.delete-button {
    margin-left: 90%;
    padding: 5px;
    font-size: larger;
    outline: #595959;
    border: #595959;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: #be2323;
    box-shadow: 4px 4px rgb(231, 105, 105);


}

button:hover,
button:focus {
    color: crimson;
}

.checked {
    text-decoration: line-through;

}

.show {
    margin-bottom: 2px;
    padding: 5px;
    outline: #595959;
    border: #595959;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: transparent;

}